<!-- templates/accounts/login.html -->
{% extends "base.html" %}
{% load bootstrap_extras %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Login</h2>
    <form method="POST" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}