{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Upload and Clean Data</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    {% if columns %}
    <!-- Column Selection Form -->
    <h3>Select a Column to Clean</h3>
    {% comment %} <form method="post" action="{% url 'upload_file' %}">
        {% csrf_token %}
        <select name="selected_column">
            {% for column in columns %}
                <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Clean Column</button>
    </form> {% endcomment %}

    <form method="post" action="{% url 'clean_column' %}">
        {% csrf_token %}
        <select name="selected_column" required>
            {% for column in columns %}
                <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Clean Column</button>
    </form>

    {% if cleaned_column %}
        <!-- Display Cleaned Column Data -->
        <h3>Cleaned Column Data:</h3>
        <ul>
            {% for value in cleaned_column %}
                <li>{{ value }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

    {% if data_preview %}
    <h3>Data Preview</h3>
    {{ data_preview|safe }}
    {% endif %}

    {% if plot_html %}
    <h3>Data Visualization</h3>
    {{ plot_html|safe }}
    {% endif %}
</div>
{% endblock %} 